<%= form_for(history) do |f| %>
  <% if history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(history.errors.count, "error") %> prohibited this history from being saved:</h2>

      <ul>
      <% history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class="field">
    <%= f.label :building %>
    <%= select_tag("history[building]", options_for_select([['Hunt', "Hunt"], ['Hill', "Hill"]], 2))%>
  </div>
    <div class="field">
      <%= hidden_field_tag("history[email]", current_user.email) %>
    </div>

  <div class="field">
    <%= f.label :date %>
    <%= select_tag("history[date]", options_for_select([[], [Time.now.to_date, "#{Time.now.to_date}"], [Time.now.to_date + 1.days, "#{Time.now.to_date + 1.days}"], [Time.now.to_date + 2.days, "#{Time.now.to_date + 2.days}"], [Time.now.to_date + 3.days, "#{Time.now.to_date + 3.days}"], [Time.now.to_date + 4.days, "#{Time.now.to_date + 4.days}"], [Time.now.to_date + 5.days, "#{Time.now.to_date + 5.days}"], [Time.now.to_date + 6.days, "#{Time.now.to_date + 6.days}"], [Time.now.to_date + 7.days, "#{Time.now.to_date + 7.days}"]], 9 ))%>
  </div>

  <div class="field">
    <%= f.label :begintime %>
    <%= select_tag("history[begintime]", options_for_select([["0", '0'], ["2", '2'], ["4", '4'], ["6", '6'],
                                                             ["8", '8'], ["10", '10'], ["12", '12'], ["14", '14'],
                                                             ["16", '16'], ["18", '18'], ["20", '20'], ["22", '22'],
                                                             ], 12)) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>



