<p id="notice"><%= notice %></p>
<div>
<p>
  <strong>Number:</strong>
  <%= @history.number %>
</p>

<p>
  <strong>Building:</strong>
  <%= @history.building %>
</p>

<p>
  <strong>Email:</strong>
  <%= @history.email %>
</p>

<p>
  <strong>Date:</strong>
  <%= @history.date %>
</p>

<p>
  <strong>Begintime:</strong>
  <%= @history.begintime %>
</p>
</div>

<div class="actions", id="button">
<p>
  <%= link_to 'Back', showmine_path, class: "btn btn-danger" %>
</p>
</div>
