<p id="notice"><%= notice %></p>

<h1>Room History</h1>

<table>
  <thead>
  <tr>
    <th style="width: 100px">Room #</th>
    <th style="width: 200px">Building</th>
    <th style="width: 200px">Email</th>
    <th style="width: 200px">Date</th>
    <th style="width: 100px">Begintime</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @roomhistory.each do |history| %>
      <tr>
        <td><%= history.number %></td>
        <td><%= history.building %></td>
        <td><%= history.email %></td>
        <td><%= history.date %></td>
        <td><%= history.begintime %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="actions", id="button">
  <%= link_to 'Back', rooms_path, class:"btn btn-danger"%>
</div>

<br>
