<p id="notice"><%= notice %></p>
<div>
  <strong>Room Number:</strong>
  <%= @history.number %>
</div>
</br>
<div>
  <strong>Building:</strong>
  <%= @history.building %>
</div>
</br>
<div>
  <strong>Email:</strong>
  <%= @history.email %>
</div>
</br>
<div>
  <strong>Date:</strong>
  <%= @history.date %>
</div>
</br>
<div>
  <strong>Begintime:</strong>
  <%= @history.begintime %>
</div>
</br>
<div>
  <strong>Booking Time:</strong>
  <%= @history.created_at %>
</div>
</br>
<div class="actions", id="button">
  <% if isAdmin? %>
      <%= link_to 'My History', showmine_path, class: "btn btn-danger" %>
      <%= link_to 'All Histories', histories_path, class: "btn btn-danger" %>
  <% else %>
      <%= link_to 'Back', showmine_path, class: "btn btn-danger" %>
  <% end %>

</div>
