<p id="notice"><%= notice %></p>
<div>
  <strong>Room Number:</strong>
  <%= @room.number %>
</div>
</br>
<div>
  <strong>Size:</strong>
  <%= @room.size %>
</div>
</br>
<div>
  <strong>Building:</strong>
  <%= @room.building %>
</div>
</br>
<div>
  <strong>Add Time:</strong>
  <%= @room.created_at %>
</div>
</br>
<div class="actions", id="button">
  <%= link_to 'Back', rooms_path, class: "btn btn-danger" %>
</div>
