<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :authority %>
    <%= select_tag("user[authority]", options_for_select([['Admin', "1"],['User', "0"]], 2)) %>
  </div>

  <div class="actions", id="button">
    <%= f.submit "Create", class: "btn btn-danger" %>
    <%= link_to 'Back', users_path, class: "btn btn-primary", data: { confirm: 'Do You Want To Discard The Change?' } %>
  </div>
<% end %>