<p id="notice"><%= notice %></p>
<div>
  <strong>Email:</strong>
  <%= @user.email %>
</div>
</br>
<div>
  <strong>Name:</strong>
  <%= @user.name %>
</div>
</br>
<div>
  <strong>Type:</strong>
  <% if @user.authority == '0'%>
      User
  <% else %>
      Admin
  <% end %>
</div>
</br>
<div>
  <strong>Registration Time:</strong>
  <%= @user.created_at %>
</div>
</br>
<% if isAdmin? && @user.email != current_user.email %>
    <div class="actions", id="button">
        <%= link_to 'Back', users_path, class: "btn btn-danger" %>
    </div>
<% end %>